<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenavToggle.emit()" fxHide.gt-xs>
    <mat-icon>menu</mat-icon>
  </button>

  <span>Mizotakhteh</span>
  <span class="spacer" style="flex: 1 1 auto;"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="login()">
      <mat-icon>login</mat-icon>
      <span>login</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>logout</span>
    </button>
  </mat-menu>

</mat-toolbar>
